# BETTER AUTH
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000

# Github
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# Google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# APP
CORS_ORIGIN=http://localhost:5173
PORT=3000
NODE_ENV=development

# DB
DB_USER=user
DB_PASSWORD=supersecret
DB_NAME=tanstackrouterdb
DB_PORT=5432

# Local Postgres from Docker Container
DATABASE_URL=postgressql://user:supersecret@localhost:5432/tanstackrouterdb